$option-height: 60px;
$option-gap: 10px;
$options-view-range: 3;

$options-side-padding: 8px;
$options-view-height: ($option-height + $option-gap) * ($options-view-range * 2 + 1);
$options-view-half: ($option-height + $option-gap) * $options-view-range;

.wrapper {
  display: flex;
  align-items: center;
  height: #{$option-height};
}
.container {
  position: relative;
  overflow: hidden;
  padding: 0 #{$options-side-padding};
  height: #{$options-view-height};
  border-radius: 0.5rem;

  mask-image: linear-gradient(
    to bottom,
    transparent #{$option-height * 1.3},
    white calc(50% - #{$option-height} / 2),
    white calc(50% + #{$option-height} / 2),
    transparent calc(100% - #{$option-height * 1.3}),
  );
}
.options {
  display: flex;
  flex-flow: column;
  gap: #{$option-gap};
  transform: translateY(calc(var(--scroll-offset) * -#{$option-height + $option-gap} + #{$option-gap * 0.5}));
  transition: transform 1s;
  height: #{$options-view-height};
}
.option {
  display: flex;
  align-items: center;
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
  font-size: 2rem;
  border: 2px solid var(--color-border);
  border-radius: 0.5rem;
  height: #{$option-height};
  min-height: #{$option-height};

  transition: color 0.5s;
  &.selected {
    color: var(--color-accent);
  }
}
.outline {
  position: absolute;
  inset: calc(50% - #{$option-height * 0.5}) #{$options-side-padding};
  height: #{$option-height};

  border-radius: 0.5rem;
  pointer-events: none;

  $glow-blur: 6px;
  box-shadow:
    0 0 #{$glow-blur} var(--color-accent),
    0 0 #{$glow-blur} var(--color-accent),
    0 0 #{$glow-blur} var(--color-accent),
    0 0 #{$glow-blur} var(--color-accent);
}
